code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.info {
  margin: 55px auto 0;
  color: #777;
  font-size: 11px;
}

.info p {
  margin: 10px 0;
  line-height: 1;
}